<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDua"
        tools:targetApi="31">
        <activity
            android:name=".view.SuccsesActivity"
            android:exported="false" />
        <activity
            android:name=".view.PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".Onbording.FourActivity"
            android:exported="false" />
        <activity
            android:name=".Onbording.ThreeActivity"
            android:exported="false" />
        <activity
            android:name=".Onbording.TwoActivity"
            android:exported="false" />
        <activity
            android:name=".Onbording.OneActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailTokoActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.AlamatActivity"
            android:exported="false" />
        <activity
            android:name=".view.SbumbuActivity"
            android:exported="false" />
        <activity
            android:name=".view.PmasakActivity"
            android:exported="false" />
        <activity
            android:name=".view.SsegarActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>